<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <% if customer_signed_in? %>
      <%= link_to "ログアウト", destroy_customer_session_path, data: {turbo_method: :delete} %>
    <% else %>
      <%= link_to "新規登録", new_customer_registration_path %>
      <%= link_to "ログイン", new_customer_session_path %>
    <% end %>  
    </header>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </body>
</html>
